[submodule "pybiomes"]
	path = pybiomes
	url = https://github.com/Nel-S/pybiomes
[submodule "Chunkbiomes"]
	path = Chunkbiomes
	url = https://github.com/Nel-S/Chunkbiomes
[submodule "Utilities"]
	path = Utilities
	url = https://github.com/Nel-S/Utilities
